extends layout
block content
    
    section.thankyou
       a(class="goback" href="/") Go Back
       img(src="/assets/261212-P553VY-131.svg")
       h2 Thank You For Your Purchase!
       p We are on our way to deliver your product
       span If you have any doubt or problem, contact 
        a(class="cusSupport" href="#") Customer Support       